#signUpContainer {
    position: relative;
    margin: 0 auto;
    height: 520px;
    width: 700px;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px
}

#ghostDiv {
    position: absolute;
    left: 5%;
    top: 48%;
    transform: translateY(-50%);
    width: 100px;
    height: 200px;
}

#hertaFaceDiv {
    cursor: pointer;
    position: absolute;
    border-radius: 999px;
    clip: rect(5px, 92px, 90px, 8px);
    transition: transform 0.1s;
    transform-origin: center;
}

#hertaFaceDiv:hover {
    transform: scale(1.1);
}

#hertaHandDiv {
    position: absolute;
    top: 39%;
}


.signUpInput {
    width: 338px;
    height: 32px;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding-left: 16px;
    border: 1px;
    border-radius: 7px;
    outline: none;
    color: rgb(0, 0, 0);
}

.signUpButton {
    width: 75px;
    height: 40px;
    border-radius: 10px;
    border: 1px;
    background-color: 
    rgb(157, 20, 248);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.signUpButton:hover {
    background-color: rgba(157, 20, 248, 0.46);
}

#submitContainer {
    margin-top: 20px;
    width: 338px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    gap: 100px;
    font-size: 12px;
}

#alreadyHaveAnAccount {
    cursor: pointer;
    transition: transform 0.1s;
    transform-origin: center;
}

#alreadyHaveAnAccount:hover {
    transform: scale(1.1);
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}